<a href="https://colab.research.google.com/github/longhowlam/python_hobby_stuff/blob/master/german_credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This notebook shows the analysis results of the German credit data set, as part of the assessment for E.E. The data set I used in this notebook is dowloabded from Kaggle. See the data on Kaggle[ here](https://www.kaggle.com/btolar1/weka-german-credit?select=credit-g.csv). 

The main modeling tool I am using here is pycaret. It is a low code tool that is essentially a wrapper around other ML tools such as  scikit-learn, XGBoost, LightGBM, CatBoost, spaCy, etc. The uniform low code approach which will benefit readability and maintainability of ML code, while on the other hand the code does allow for enough flexbility to tweak models if needed.

This notebook was created on google colab, it provides a free python run-time environment accessible from just a browser with already a lot python packages installed. Moreover, the interactive [data table viewer](https://colab.research.google.com/notebooks/data_table.ipynb) inside colab notebooks are very handy to browse trough data.  

# German Credit Introduction

lorum ipsum

In [ ]:
### install pycaret
!pip install pycaret

In [6]:
#### python packages needed

import pandas as pd
from pycaret.classification import *

/usr/local/lib/python3.7/dist-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

## Data Import and first quality assessment

In [2]:
import pandas as pd

german = pd.read_csv('credit-g.csv')

In [3]:
german

    checking_status  duration  ...  foreign_worker class
0                <0         6  ...             yes  good
1          0<=X<200        48  ...             yes   bad
2       no checking        12  ...             yes  good
3                <0        42  ...             yes  good
4                <0        24  ...             yes   bad
..              ...       ...  ...             ...   ...
995     no checking        12  ...             yes  good
996              <0        30  ...             yes  good
997     no checking        12  ...             yes  good
998              <0        45  ...             yes   bad
999        0<=X<200        45  ...             yes  good

[1000 rows x 21 columns]

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

## Data Exploration

## Predictive Models